.git/*
env/
venv/
.venv/

__pycache__/
*.py[cod]

.idea
.DS_Store
.AppleDouble
.LSOverride
.vscode

*.sublime-project
*.sublime-workspace

media/

db.sqlite3

.vscode/
api/migrations/
.env

# old versions of views
api/views_var1.py

# static
static/admin/
static/rest_framework/
